            <!--底部链接-->
            <div class="footer">
                <div class="footer-hd">
                    <p>
                        <a href="#">重庆倍赞电子商务有限公司</a>
                        <b>|</b>
                        <a href="#">商城首页</a>
                        <b>|</b>
                        <a href="#">支付信息</a>
                        <b>|</b>
                        <a href="#">物流方式</a>
                    </p>
                </div>
                <div class="footer-bd">
                    <p>
                        <a href="#">关于倍赞</a>
                        <a href="#">合作伙伴</a>
                        <a href="#">联系我们</a>
                        <a href="#">网站地图</a>
                        <em>© 2016-2025 重庆倍赞电子商务有限公司</em>
                    </p>
                </div>
            </div>