            <div class="long-title"><span class="all-goods"><a href="{:url('Index/index')}">全部分类</a></span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index"><a href="{:url('Index/index')}">首页</a></li>
                    <li class="qc"><a href="#">婴幼儿奶粉</a></li>
                    <li class="qc"><a href="#">成人奶粉</a></li>
                    <li class="qc"><a href="#">日化</a></li>
                    <li class="qc last"><a href="#">美妆</a></li>
                </ul>
<!--                 <div class="nav-extra">
                    <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
                    <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
                </div> -->
            </div>