<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

        <title>实名认证</title>

        <link href="__PUBLIC__/index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

        <link href="__PUBLIC__/index/css/personal.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/stepstyle.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <!--头 -->
        <header>
            <article>
                <div class="mt-logo">
                    <!--顶部导航条 -->
                    {include file="common/header" /}

                    <!--悬浮搜索框-->

                    {include file="common/search" /}

                    <div class="clear"></div>
                </div>
                </div>
            </article>
        </header>
        <div class="nav-table">
            {include file="common/topTitle" /}
        </div>
        <b class="line"></b>
        <div class="center">
            <div class="col-main">
                <div class="main-wrap">

                    <div class="am-cf am-padding">
                        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">实名认证</strong> / <small>Real&nbsp;authentication</small></div>
                    </div>
                    <hr/>
                    <div class="authentication">
                    <p class="tip">请填写您身份证上的真实信息，以用于报关审核</p>
                    <form action="{:url('User/saveRname')}" method="post" class="am-form am-form-horizontal">
                        <input type="hidden" name="uid" value="{$Think.session.uid}" />
                        <div class="am-form-group">
                                <label for="user-name" class="am-form-label">真实姓名</label>
                                <div class="am-form-content">
                                    <input type="text" id="user-name" name="rname" placeholder="请输入您的真实姓名">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-IDcard" class="am-form-label">身份证号</label>
                                <div class="am-form-content">
                                    <input type="tel" id="user-IDcard" name="idcard" placeholder="请输入您的身份证信息">
                                </div>
                        </div>
                        <div class="info-btn">
                            <div class="am-btn am-btn-danger"><input type="submit" class="am-btn am-btn-danger" value="&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;"></div>
                        </div>

                    </form>
                    </div>
                </div>
                <!--底部-->
                {include file="common/foot" /}
            </div>

            <aside class="menu">
                {include file="common/userSidebar" /}

            </aside>
        </div>

    </body>

</html>